@use '../components/gallery';
.detail-sec {
  width: 100%;
  min-height: 90vh;
  background-color: #000;
  background-repeat: no-repeat;
  // background-size: 50% 50%;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;

  &__paragraph {
    font-size: 1.8rem;
    width: 60%;
    max-width: 75ch;
    text-align: center;
    line-height: 2;
    color: rgba(lightgrey, 0.5);
  }
}
