@use '../components/gallery';
@use '../base' as *;
.detail-sec {
  width: 100%;
  min-height: 90vh;
  background-color: #000;
  background-repeat: no-repeat;
  // background-size: 50% 50%;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 10rem;

  @include mq (large) {
    padding: 20rem 10rem;
  }

  &__paragraph {
    font-size: 1.8rem;
    width: 60%;
    max-width: 75ch;
    text-align: justify;
    line-height: 2;
    color: rgba(lightgrey, 0.5);

    &::first-letter {
      font-size: 8rem;
      font-weight: 600;
      line-height: 1;
    }

    @include mq (large) {
      font-size: 1.6rem;
    }
  }
}
