@use '../components/logo';
@use '../components/search-bar';
@use '../components/user-nav';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 6.4rem;
  z-index: 1;
  animation: movingInFromTop 1s ease-out;
  backface-visibility: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background: linear-gradient(rgba(black, 0.3), transparent);
    z-index: 1;
    pointer-events: none;
  }
}
