@use '../base' as *;
@use '../components/bottom-nav';
@use '../components/popup';
@use '../components/clouds';

.parallax-sec {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &--city {
    height: 145%;
  }

  &__bg-main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: scaleDown 2s ease-in-out;
    backface-visibility: hidden;
  }

  &__heading {
    position: absolute;
    font-size: 6.3vw;
    font-weight: 600;
    text-shadow: .1rem .1rem 1rem rgba(0,0,0,.1);
    animation: headingAppear 3s;
    display: flex;
    flex-direction: column;
    width: 75%;
    overflow: hidden;

    @include mq(large) {
      font-size: 7.5vw;
    }

    &--single {
      display: block;
      width: unset;
      animation: fadeIn 3s 1s;
      animation-fill-mode: backwards;
    }

    &--adjustUp {
      transform: translateY(-100%);
      font-size: 8.5vw;
    }
  }

  &__heading-part-1 {
    margin-right: 25%;
    animation: fadeIn 2s 1s;
    animation-fill-mode: backwards;
  }

  &__heading-part-2 {
    align-self: flex-end;
    animation: fadeIn 2s 1s;
    animation-fill-mode: backwards;
  }

  &__bg-hero {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform-origin: bottom;
  }
}
