.parallax-sec {
  &__clouds {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
  }

  &__cloud {
      position: absolute;
      bottom: 0;
      max-width: 100%;
      animation: clouding calc(6s * var(--i)) linear infinite;
  }
}
