.page-nav {
  display: flex;
  position: absolute;
  z-index: 5;
  align-self: flex-end;
  transform: translate(0, -50%);
  animation: fadeIn 2s 1s;
  animation-fill-mode: backwards;

  &--adjusted {
    transform: translate(35%, -50%);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 0.1rem solid #fff;
    position: relative;
    transition: 0.25s;
    overflow: hidden;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }

    &--disabled {
      background: rgba(255, 255, 255, 0.25);

      .page-nav__icon {
        fill: rgba(255, 255, 255, 0.3);
      }
    }

    &--active {
      &:hover {
        transform: translateY(-0.8rem);
      }
    }
  }

  &__link--active:hover &__icon {
    animation: movingDown 1s linear infinite;
  }

  &__icon {
    width: 3.25rem;
    height: 3.25rem;
    fill: #fff;
    transition: 2s;

    &--hidden {
      position: absolute;
      fill: #fff;
      top: -100%;
    }
  }
}
