@use '../abstracts' as *;
@use '../base/typography' as *;
body {
  min-height: 100vh;
  font-family: $font-default;
  color: #fff;
  font-weight: 400;
  line-height: 1.6;
  background: linear-gradient(
    to bottom right,
    $color-primary-light,
    $color-primary-medium
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-loading *,
.js-loading *::before,
.js-loading *::after {
  animation-play-state: paused;
}

::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
